* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body { background: #4075FF !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   
   .my-background {
	  background: #4075FF;
	}
.card {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    font: normal 19px sans-serig;
}

.formulario {
    width: 825px;
    margin: auto;
    padding-top: 250px;
}   
 .menu-login > input{
    border-color: black;
    border-radius: 25px;
    outline: 0;
    width: 50%;
    height: 50px;
    margin: 10px 5px; 
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    padding: 14px;
 }
 .imglogin{
     border-color: black;
     border-radius: 15px;
     width: 350px;
    height: 280px;
     float: left;
     display: flex;
     justify-content: center;
     align-items: center; 
 }

 

 .card2 {
    margin: 15px -10px;
 }

 .card2 > button {
     border-color: black;
     border-radius: 25px;
     margin: 35px 13px;
     float: right;
     width: 22.5%;  
 }

 .card3 > select {

    border-color: black;
    border-radius: 25px;
    margin: 0px 0%;
    float: right;
    width: 50%; 
 }


