<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/medicos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Perfil | Medico</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="consultas/agendadas"class="menu-items">CONSULTAS AGENDADAS</a>
                <a href="consultas/historico"class="menu-items">CONSULTAS</a>
                <a href="/index"class="menu-items">SAIR</a>
            </form>
          </nav>
    </header>
    <div class="content">
        <div class="form-background">

            <div class="cabecalho">
                
                <div class="avatar"></div>
                <div class="info">
                    <div class="nome">
                        <h2 th:text="${medico.nome}"></h2>
                    </div>
                    <div class="documentos">
                        <label for="rg"><strong>RG:</strong></label>
                        <b th:text="${medico.rg}"></b>
                        &emsp;
                        <label for="cpf"><strong>CPF:</strong></label>
                        <b th:text="${medico.cpf}"></b>
                    </div>
                </div>
                
            </div>

            <form th:action="@{/medicos}" method="POST">
                <div class="form-style">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="dataNascimento">Data de Nascimento: </label>
                            <input type="date" class="form-control" id="dataNascimento" th:value="${medico.dataNascimento}" name="dataNascimento" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone1">Telefone 1: </label>
                            <input type="text" class="form-control" id="telefone1" placeholder="-" th:value="${medico.telefone1}" name="telefone1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone2">Telefone 2: </label>
                            <input type="text" class="form-control" id="telefone2" placeholder="-" th:value="${medico.telefone2}" name="telefone2" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="-" th:value="${medico.email}" name="email" required>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="rua">Endereço:</label>
                            <input type="text" class="form-control" id="rua" placeholder="-" th:value="${medico.rua}" name="rua" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="bairro">Bairro: </label>
                            <input type="text" class="form-control" id="bairro" placeholder="-" th:value="${medico.bairro}" name="bairro" required>
                        </div>
                    </div>    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade" placeholder="-" th:value="${medico.cidade}" name="cidade" required>
                        </div>
                        <div class="form-group col-md-4">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="estado" placeholder="-" th:value="${medico.estado}"name="estado" required>
                        </div>
                        <div class="form-group col-md-2">
                        <label for="numeroCasa">Numero da casa:</label>
                        <input type="num" class="form-control" id="numeroCasa" placeholder="-" th:value="${medico.numeroCasa}" name="numeroCasa" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="crm">CRM:</label>
                        <input type="num" class="form-control" id="crm" placeholder="-" th:value="${medico.crm}" name="crm" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="turno">Turno:</label>
                            <input type="text" class="form-control" id="turno" placeholder="-" th:value="${medico.turno}" name="turno" disabled>
                            </div>
                    </div>                    
                    <div class="form-group">
                        <label for="esp1">Especialidade 1:</label>
                        <input type="text" class="form-control" id="esp1" placeholder="-" th:value="${medico.especialidade1}" name="esp1" disabled>
                    </div>
                    <div class="form-group">
                        <label for="esp2">Especialidade 2:</label>
                        <input type="text" class="form-control" id="esp2" placeholder="-" th:value="${medico.especialidade2}" name="esp2" disabled>
                    </div>                      
                </div>
                <hr style="border-color: rgb(64 117 255);">
                <div class="btn-form">
                    <button type="submit" class="btn btn-clin" style="margin-left: 10px;" value="">Cadastrar</button>
                    <button type="submit" class="btn btn-outline-secondary">Limpar</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>