<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pacientes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Perfil | Paciente</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="consultas/agendadas"class="menu-items">AGENDAMENTOS</a>
                <a href="consultas/historico"class="menu-items">CONSULTAS</a>
                <!-- <a href="/paciente"class="menu-items">MEU PERFIL</a> -->
                <a href="/index"class="menu-items">SAIR</a>
            </form>
          </nav>
    </header>
    <div class="content">
        <div class="form-background">
            <!-- <center><h3><b>INFORMAÇÕES</b></h3></center>
            <hr style="border-color: rgb(64 117 255);"> -->
            <div class="cabecalho">
                
                <div class="avatar"></div>
                <div class="info">
                    <div class="nome">                
                        <h2 th:text="${paciente.nome}"></h2>
                    </div>
                    <div class="documentos">
                        <label for="rg"><strong>RG:</strong></label>
                        <b th:text="${paciente.rg}"></b>
                        &emsp;
                        <label for="cpf"><strong>CPF:</strong></label>
                        <b th:text="${paciente.cpf}"></b>
                    </div>
                </div>
                
            </div>

            <form th:action="@{editar}" method="POST">

                <input type="hidden" id="rg" name="rg" th:value="${paciente.rg}">
                <input type="hidden" id="cpf" name="cpf" th:value="${paciente.cpf}">
                <input type="hidden" id="senha" name="senha" th:value="${paciente.senha}">
                <input type="hidden" id="nome" name="nome" th:value="${paciente.nome}">

                <div class="form-style">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="dataNascimento">Data de Nascimento: </label>
                            <input type="date" class="form-control" id="dataNascimento" th:value="${paciente.dataNascimento}" name="dataNascimento" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone1">Telefone 1: </label>
                            <input type="text" class="form-control" id="telefone1" placeholder="-" th:value="${paciente.telefone1}" name="telefone1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone2">Telefone 2: </label>
                            <input type="text" class="form-control" id="telefone2" placeholder="-" th:value="${paciente.telefone2}" name="telefone2"> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="-" th:value="${paciente.email}" name="email">
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="rua">Endereço:</label>
                            <input type="text" class="form-control" id="rua" placeholder="-" th:value="${paciente.rua}" name="rua">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="bairro">Bairro: </label>
                            <input type="text" class="form-control" id="bairro" placeholder="-" th:value="${paciente.bairro}" name="bairro">
                        </div>
                    </div>    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade" placeholder="-" th:value="${paciente.cidade}" name="cidade">
                        </div>
                        <div class="form-group col-md-4">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="estado" placeholder="-" th:value="${paciente.estado}" name="estado">
                        </div>
                        <div class="form-group col-md-2">
                        <label for="numeroCasa">Numero da casa:</label>
                        <input type="num" class="form-control" id="numeroCasa" placeholder="-" th:value="${paciente.numeroCasa}" name="numeroCasa">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="convenio">Convenio:</label>
                        <input type="text" class="form-control" id="convenio" placeholder="-" th:value="${paciente.convenio}" name="convenio" readonly>
                        </div>
                        <div class="form-group col-md-4">
                        <label for="numeroCarteirinha">Numero da Carteirinha:</label>
                        <input type="num" class="form-control" id="numeroCarteirinha" placeholder="-" th:value="${paciente.numeroCarteirinha}" name="numeroCarteirinha" readonly>
                        </div>
                        <div class="form-group col-md-2">
                        <label for="tipoSanguineo">Tipo sanguíneo:</label>
                        <input type="text" class="form-control" id="tipoSanguineo" placeholder="-" th:value="${paciente.tipoSanguineo}" name="tipoSanguineo" readonly>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="doencas">Doenças:</label>
                        <input type="text" class="form-control" id="doencas" placeholder="-" th:value="${paciente.doencas}" name="doencas" readonly>
                    </div>
                    <div class="form-group">
                        <label for="vicios">Vicios:</label>
                        <input type="text" class="form-control" id="vicios" placeholder="-" th:value="${paciente.vicios}" name="vicios" readonly>
                    </div>                      
                </div>
                <hr style="border-color: rgb(64 117 255);">
                <div class="btn-form">
                    <button type="submit" class="btn btn-clin" style="margin-left: 10px;" value="">Alterar</button>
                </div>
            </form> 
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>