<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/sobre.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ClinCode</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="#"class="menu-items">ADMIN</a>

            </form>
          </nav>
    </header>
    <div class="content">
        <div class="card" style="width: 18rem;border: none;">
            <img class="card-img-top" src="../assets/medico.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Medicos</h5>
                <hr>
                <a href="cadastro/medicos" class="btn btn-clin btn-card">Cadastrar</a>
                <a href="#" class="btn btn-clin btn-card">Consultar</a>
                <a href="#" class="btn btn-clin btn-card">Alterar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;border: none;">
            <img class="card-img-top" src="../assets/paciente1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pacientes</h5>
                <hr>
                <a href="cadastro/pacientes" class="btn btn-clin btn-card">Cadastrar</a>
                <a href="#" class="btn btn-clin btn-card">Consultar</a>
                <a href="#" class="btn btn-clin btn-card">Alterar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;border: none;">
            <img class="card-img-top" src="../assets/atendente.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Atendentes</h5>
                <hr>
                <a href="cadastro/atendentes" class="btn btn-clin  btn-card">Cadastrar</a>
                <a href="#" class="btn btn-clin  btn-card">Consultar</a>
                <a href="#" class="btn btn-clin btn-card">Alterar</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>