<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pacientes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ClinCode</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="cad-pacientes.html"class="menu-items">PACIENTES</a>
            </form>
          </nav>
    </header>
    <div class="content">
        <div class="form-background">
            <center><h3>Cadastrar Paciente</h3></center>
            <hr style="border-color: rgb(64 117 255);">
            
            <form th:action="@{/pacientes}" method="POST">
                <div class="form-style">
                    <div class="form-group">
                        <label for="inputNome">Nome: </label>
                        <input type="text" class="form-control" id="inputNome" placeholder="João da Silva" name="nome">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="inputRg">Rg:</label>
                        <input type="text" class="form-control" id="inputRg" placeholder="Rg" name="rg">
                        </div>
                        <div class="form-group col-md-6">
                        <label for="inputCpf">Cpf:</label>
                        <input type="text" class="form-control" id="inputCpf" placeholder="123.456.789-01" name="cpf">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="dateNasc">Data de Nascimento: </label>
                            <input type="date" class="form-control" id="dateNasc" name="dataNascimento">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTelefone">Telefone: </label>
                            <input type="number" class="form-control" id="inputTelefone" placeholder="(XX) 9 1234-1234" name="telefone">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTelefone2">Telefone 2: </label>
                            <input type="text" class="form-control" id="inputTelefone2" placeholder="(XX) 9 1234-1234">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputEndereco">Endereço:</label>
                            <input type="text" class="form-control" id="inputEndereco" placeholder="R. Facens, 123" name="rua">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputBairro">Bairro: </label>
                            <input type="text" class="form-control" id="inputBairro" placeholder="Jardim" name="bairro">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="inputCidade">Cidade:</label>
                        <input type="text" class="form-control" id="inputCidade" placeholder="Sorocaba" name="cidade">
                        </div>
                        <div class="form-group col-md-4">
                        <label for="inputEstado">Estado:</label>
                        <input type="text" class="form-control" id="inputEstado" placeholder="SP" name="estado">
                        </div>
                        <div class="form-group col-md-2">
                        <label for="inputCep">Cep:</label>
                        <input type="num" class="form-control" id="inputCep" placeholder="12345-678">
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="inputEmail">Email:</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="123@facens.br" name="email">
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmEmail">Confirmar Email:</label>
                        <input type="email" class="form-control" id="inputConfirmEmail" placeholder="123@facens.br">
                    </div>
    
                    <div class="form-group">
                        <label for="inputSenha">Senha:</label>
                        <input type="password" class="form-control" id="inputSenha" placeholder="12345">
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmSenha">Confirmar Senha: </label>
                        <input type="password" class="form-control" id="inputConfirmSenha" placeholder="12345">
                    </div>
                </div>
                <hr style="border-color: rgb(64 117 255);">
                <div class="btn-form">
                    <button type="submit" class="btn btn-clin" style="margin-left: 10px;">Cadastrar</button>
                    <button type="submit" class="btn btn-outline-secondary">Limpar</button>
                </div>
            </form>                 
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>