<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/medicos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Consultas agendadas</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="historico"class="menu-items">CONSULTAS</a>
                <a href="../perfil"class="menu-items">MEU PERFIL</a>
                <a href="/index"class="menu-items">SAIR</a>
            </form>
          </nav>
    </header>
    <div class="content">
        <div class="form-background">
            <center><h3><b>CONSULTAS AGENDADAS</b></h3></center>
            <hr style="border-color: rgb(64 117 255);">
            
            <table class="table" id="tbEmpresas">
                <thead>
                    <tr>
                        <th>PACIENTE</th>
                        <th>DATA</th>
                        <th>HORARIO</th>
                        <th>ESPECIALIDADE</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="agendamento : ${agendamentos}">
                        <td th:text="${agendamento.paciente.nome}"></td>
                        <td th:text="${agendamento.data}"></td>
                        <td th:text="${agendamento.horario}"></td>
                        <td th:text="${agendamento.especialidade}"></td>
                        <td>
                            <a th:href="@{ 'agendadas/' + ${agendamento.idAgendamento} + '/consultar' }" class="btn btn-clin">Consultar</a>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>