<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/sobre.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ClinCode</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="index" class="menu-items">HOME</a>
                <a href="loginUsuario"class="menu-items">LOGIN</a>

            </form>
          </nav>
    </header>
    <div class="content">
            <div class="intro" id="titulo">
                CLINCODE
            </div>
            <div class="intro" id="sobre">
                <p>O projeto consiste em um sistema, que será utilizado em clínicas (públicas ou
                particulares) de médicos gerais. Decidimos por fazer a mudança de hospitais para clínicos
                gerais, devido à grande complexidade que existe nos hospitais e pela ampla quantidade de
                documentações próprias deste lugares, isso dificultaria o processo de desenvolvimento do
                nosso sistema, uma vez que nosso objetivo é utilizar os conhecimentos que possuímos para
                desenvolver uma solução eficaz para determinada necessidade.</p>
            </div>
    </div>
    <div class="infos">
        <div class="info">
            <p>O projeto consiste em um sistema, que será utilizado em clínicas (públicas ou
            particulares) de médicos gerais. Decidimos por fazer a mudança de hospitais para clínicos
            gerais, devido à grande complexidade que existe nos hospitais e pela ampla quantidade de
            documentações próprias deste lugares, isso dificultaria o processo de desenvolvimento do
            nosso sistema, uma vez que nosso objetivo é utilizar os conhecimentos que possuímos para
            desenvolver uma solução eficaz para determinada necessidade.</p>
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>