<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pacientes.css">
    <link rel="stylesheet" href="/styles/historico.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Histórico de consultas</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">                
                <a href="./agendadas"class="menu-items">AGENDAMENTOS</a>
                <a href="../perfil"class="menu-items">MEU PERFIL</a>
                <a href="/index"class="menu-items">SAIR</a>
            </form>
          </nav>
    </header>
    <div class="content">
        <div class="form-background">
            <center><h3><b>HISTÓRICO DE CONSULTAS</b></h3></center>
            <hr style="border-color: rgb(64 117 255);">
            
            <table class="table" id="tbEmpresas">
                <thead>
                    <tr>
                        <th>PACIENTE</th>
                        <th>MEDICO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="consultas : ${consulta}">
                        <td th:text="${consultas.paciente.rg}"></td>
                        <td th:text="${consultas.medico.crm}"></td>
                    </tr>
                    
                    <!-- <tr>
                        <td>Raul Ryan</td>
                        <td>Dr. Gabriel Ferraz</td>
                    </tr>

                    <tr>
                        <td>Raul Ryan</td>
                        <td>Dr. Vitor Góes</td>
                    </tr> -->
                </tbody>
            </table>
            
            <div class="btn-form">
                <button type="submit" class="btn btn-clin" style="margin-left: 10px;" value=""> Exportar dados</button>
                <a href="/paciente/consultas" class="btn btn-clin" style="margin-left: 10px;">Consultas Futuras</a> 
                

            </div>
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>