<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pacientes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Consultas futuras</title>
</head>
<body>
    <header class="header">
        <nav class="menubar navbar navbar-light justify-content-between">
            <a class="navbar-brand">LOGO</a>
            <form class="form-inline">
                <a href="./historico"class="menu-items">CONSULTAS</a>
                <a href="../perfil"class="menu-items">MEU PERFIL</a>
                <a href="/index"class="menu-items">SAIR</a>
            </form>
          </nav>
    </header>
    <div class="content">
        <div class="form-background">
            <center><h3><b>CONSULTAS FUTURAS</b></h3></center>
            <hr style="border-color: rgb(64 117 255);">
            
            <table class="table" id="tbEmpresas">
                <thead>
                    <tr>
                        <th>DATA CONSULTA</th>
                        <th>HORARIO</th>
                        <th>MEDICO</th>
                        <th> - </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20/01/2021</td>
                        <td>14:00</td>
                        <td>Dr. Otavio Cordeiro</td>
                        <td><button class="btn btn-clin">MAIS INFORMAÇÕES</button></td>
                    </tr>
                    
                    <tr>
                        <td>12/12/2020</td>
                        <td>15:00</td>
                        <td>Dr. Gabriel Ferraz</td>
                        <td><button class="btn btn-clin">MAIS INFORMAÇÕES</button></td>
                    </tr>

                </tbody>
            </table>
            <div class="btn-form">
                <a href="/historico" class="btn btn-clin" style="margin-left: 10px;"> Historico de Consultas</a> 
            </div>
        </div>
    </div>
    <footer class="footer">
        <b style="float: right;margin-right: 20px;">@PA_FACENS2020-S04</b>
    </footer>
</body>
</html>